@import 'variables-mixins';

@font-face {
    font-family: 'NotoSans_300';
    src        : url(../fonts/NotoSans-Light.ttf);
}

@font-face {
    font-family: 'NotoSans_800';
    src        : url(../fonts/NotoSans-ExtraBold.ttf);
}

@font-face {
    font-family: 'NotoSans_900';
    src        : url(../fonts/NotoSans-Black.ttf);
}

body {
    background-color: white;
    font-family     : NotoSans_900;
    user-select     : none;

    .section {
        padding-left : 20px;
        padding-right: 20px;
        margin-left  : auto;
        margin-right : auto;
    }

    p {
        font-family: NotoSans_300;
    }

    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    img {
        width : 100%;
        height: auto;
    }

    a,
    a:hover {
        text-decoration: none;
        color          : white;
    }

    a,
    button {
        cursor: none;
    }

    a:focus,
    button:focus,
    input:focus,
    textarea:focus {
        outline: none;
    }

    header {
        padding-top    : 30px;
        padding-bottom : 55px;
        background     : url(../images/bg_header.png) no-repeat center center;
        background-size: cover;
        color          : white;

        nav {
            @include flex_center_bet;
            margin-bottom: 175px;

            .logo {
                width : 80px;
                height: 20px;
            }

            ul {
                display: none;
            }

            a {
                @include font_12_16;

                .tel {
                    width        : 16px;
                    height       : 16px;
                    margin-right : 5px;
                    margin-bottom: -5px;
                }
            }
        }

        .banner {
            @include flex_start_bet;
            margin-bottom: 175px;

            h1 {
                @include margin_1020;
                @include text_align;
                font-size  : 20px;
                line-height: 27px;

                span {
                    color: $blue_color;
                }
            }

            h5 {
                @include margin_1020;
                @include font_12_16;
                @include text_align;
                font-family: NotoSans_300;
            }

            .buttons {
                @include flex_center_center;

                button:first-of-type {
                    @include button_blue;
                }

                button:nth-of-type(2) {
                    @include button_grey;
                }
            }

            .points {
                display: none;
            }
        }

        .down {
            display     : block;
            width       : 30px;
            height      : 25px;
            margin-left : auto;
            margin-right: auto;
            fill        : white;
            transition  : transform .4s;

            &:active {
                fill: #DFDFDF;
            }
        }
    }

    .about {
        @include flex_col_center_bet;
        @include paddingY_40;
        color: $dark_color;

        h6 {
            @include h6_heading;
        }

        h2 {
            @include h2_heading;
        }

        p {
            @include font_12_16;
            margin-bottom: 20px;

            span {
                font-family: NotoSans_900;
                font-size  : 18px;
                line-height: 24px;
            }
        }

        img {
            @media (max-width: 992px) {
                max-width: 480px;
            }
        }
    }

    .services {
        @include paddingY_40;
        background-color: $section_color;
        color           : $dark_color;

        h6 {
            @include h6_heading;
        }

        h2 {
            @include h2_heading;
        }

        .description {
            display              : grid;
            grid-template-columns: auto;
            grid-gap             : 20px;

            >div {
                padding      : 40px 10px;
                border-radius: 5px;
                text-align   : center;
                background   : white;
                transition   : all .4s;

                >div {
                    @include flex_center_center;
                    @include margin_1020;
                    width           : 70px;
                    height          : 70px;
                    border-radius   : 50%;
                    margin-right    : auto;
                    margin-left     : auto;
                    background-color: $blue_color;
                    transition      : all .4s;
                }

                svg {
                    fill      : white;
                    transition: all .4s;
                }

                .services_01 svg {
                    width : 40px;
                    height: 44px;
                }

                .services_02 svg {
                    width : 56px;
                    height: 30px;
                }

                .services_03 svg {
                    width : 42px;
                    height: 42px;
                }

                h4 {
                    @include h4_heading;
                    @include margin_1020;
                }

                p {
                    @include font_12_16;
                }

                &:hover {
                    background-color: $blue_color;
                    box-shadow      : 0px 10px 15px rgba(0, 0, 0, 0.1);
                    color           : white;
                }

                &:hover>div {
                    background-color: white;
                }

                &:hover svg {
                    fill: $blue_color;
                }
            }
        }
    }

    .advantages {
        @include flex_col_center_bet;
        @include paddingY_40;
        color: $dark_color;

        article {
            h6 {
                @include h6_heading;
            }
    
            h2 {
                @include h2_heading;
    
                &::after {
                    width: 240px;
                    margin-bottom: 30px;
                }
            }

            p {
                @include flex_center;
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 5px;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 3px;
                    height: 58px;
                    background-color: $blue_color;

                }
                span {
                    font-family: NotoSans_900;
                    font-size: 64px;
                    line-height: 87px;
                    font-style: italic;
                    margin-right: 17px;
                }
                &:nth-of-type(1) {
                    margin-left: 45px;
                }
                &:nth-of-type(2) {
                    margin-left: 90px;
                }
                &:nth-of-type(3) {
                    margin-left: 60px;
                    margin-bottom: 20px;
                }
            }
        }

        img {
            max-width: 460px;
        }

       
    }

    .comments {
        @include paddingY_40;
        color           : $dark_color;
        background-color: $section_color;

        article {

            h6 {
                @include h6_heading;
            }
            
            h2 {
                @include h2_heading;
            }
        }

        .content {
            display              : grid;
            grid-template-columns: auto;
            grid-gap             : 20px;
            
            .stories {
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 22px;
                text-align: center;
                background: white;
                position: relative;
                transition: all .4s;
                svg {
                    width: 22px;
                    height: 20px;
                    margin-bottom: 10px;
                    fill: $blue_color
                }
                .arrow {
                    position: absolute;
                    bottom: -13px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: 0; 
                    height: 0; 
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-top: 13px solid transparent;
                    transition: all .4s;
                }
            }
           
            .people {
                @include flex_center_center;

                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }

                h5 {
                    @include font_12_16;
                    margin-bottom: 5px
                }
            }

            p {
                @include font_12_16;
            }

            >div:hover .stories {
                background: $blue_color;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
                color: white;
                svg {
                    fill: white;
                }
                .arrow {
                    border-top-color: $blue_color;
                    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
                }
            }
        }
    }

    .feedback {
        @include paddingY_40;
        color: $dark_color;

        h6 {
            @include h6_heading;
        }

        h2 {
            @include h2_heading;
            &::after {
                width: 240px;
            }
        }

    }

    .questions {
        @include paddingY_40;
        color           : $dark_color;
        background-color: $section_color;

        h6 {
            @include h6_heading;
        }

        h2 {
            @include h2_heading;
        }

    }


    @media (min-width: 576px) {
        .section {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .section {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .section {
            max-width: 960px;
        }

        a,
        button {
            cursor: pointer;
        }

        header {
            padding-bottom: 100px;

            nav {
                margin-bottom: 245px;

                .logo {
                    width : 100px;
                    height: 25px;
                }

                ul {
                    @include flex_center_bet;
                    @include font_12_16;
                    width               : 100%;
                    max-width           : 280px;
                    list-style-type     : none;
                    padding-inline-start: unset;

                    li {
                        font-family  : NotoSans_800;
                        border-bottom: 1px solid transparent;
                        transition   : transform .4s;
                        cursor       : pointer;

                        &:hover {
                            transform          : translateY(-10px);
                            border-bottom-color: white;
                        }

                        &:active {
                            border-bottom-color: #CCCCCC;
                            color              : #CCCCCC;
                        }
                    }
                }

                a .tel {
                    width       : 20px;
                    height      : 20px;
                    margin-right: 10px;
                }
            }

            .banner {
                h1 {
                    font-size  : 36px;
                    line-height: 49px;
                }

                .buttons {
                    justify-content: flex-start;
                }

                .points {
                    @include flex_col_center_bet;

                    div {
                        @include flex_center_center;
                        width : 20px;
                        height: 20px;

                        button {
                            border-radius: 10px;
                            background   : hsla(0, 0%, 100%, .5);
                            border       : .5px solid transparent;
                            padding      : 3px;
                            transition   : all .4s;
                            cursor       : pointer;
                        }

                        &.active button {
                            padding   : 7px;
                            border    : 0.5px solid white;
                            box-shadow: 0 0 0px 1.5px black inset;
                            background: white;
                        }

                        &:hover button {
                            padding   : 6px;
                            box-shadow: 0px 0px 5px #C3C3C2;
                            background: rgba(255, 255, 255, 0.5);
                        }

                        &:hover.active button {
                            cursor    : auto;
                            padding   : 7px;
                            border    : 0.5px solid white;
                            box-shadow: 0 0 0px 1.5px black inset;
                            background: white;
                        }

                        &:focus {
                            outline: none;
                        }

                        &:active {
                            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover div.active {
                        cursor: auto;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .down {
                width : 40px;
                height: 35px;
                cursor: pointer;

                &:hover {
                    transform: translateY(10px);
                }
            }
        }

        .about {
            flex-flow: row;

            h6 {
                text-align: left;
            }

            h2 {
                text-align: left;

                &::after {
                    width      : 187px;
                    margin-left: 0
                }
            }

            p span {
                font-size  : 24px;
                line-height: 33px;
            }

            img {
                margin-left: 65px;
            }
        }

        .services {
            h2::after {
                width        : 187px;
                margin-bottom: 50px;
            }

            .description {
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

                >div {
                    padding: 30px 26px;
                    cursor : pointer;

                    &:hover {
                        transform: translateY(-20px);
                    }
                }
            }
        }

        .advantages {
            flex-flow: row;
            padding-top: 75px;
            padding-bottom: 75px;

            img {
                order: 1;
                margin-right: 65px;
            }

            article {
                order: 2;
                
                h6,
                h2 {
                    text-align: left;
                }
                
                h2::after, p {
                    margin-left: 0!important;
                }
                p::before {
                    margin-right: 5px;
                }
            }
        }

        .comments {
            padding-top: 75px;
            padding-bottom: 180px;
    
            article h2:after {
                margin-bottom: 60px;
            }
    
            .content {
                grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

                >div {
                    transition: all .4s;
                    cursor: pointer;
                    &:hover {
                        transform: translateY(-20px);
                    }
                }
    
                .stories {
                    padding-top: 30px;
                    padding-bottom: 30px;

                    svg {
                        width: 34px;
                        height: 30px;
                        margin-bottom: 20px;
                    }
                }

                .people img {
                    width: 70px;
                    height: 70px;
                    margin-right: 20px;
                }
            }
        }

        .feedback {

            h2 {
                &::after {
                    width: 132px;
                }
            }

        }



    }

    @media (min-width: 1200px) {
        .section {
            max-width: 1140px;
        }
    }
}