$input_size: 10px;

$small_size: 12px;

$size_14: 14px;

$middle_size: 18px;

$main_size: 20px;

$big_size: 24px;

$desk_size: 36px;

$giant_size: 64px;


$section_color    : #FCFCFC;
$blue_color       : #6789FF;
$dark_color       : #333333;
$grey_color       : rgba(51, 51, 51, 0.5);
$placeholder_color: #B4B4B4;

@mixin flex_center {
    display    : flex;
    align-items: center;
}

@mixin just_start {
    display        : flex;
    justify-content: flex-start;
}

@mixin flex_center_bet {
    @include flex_center;
    justify-content: space-between;
}

@mixin flex_center_center {
    @include flex_center;
    justify-content: center;
}

@mixin flex_col_center_bet {
    @include flex_center_bet;
    flex-flow: column;
}

@mixin flex_start_bet {
    @include just_start;
    justify-content: space-between;
}

@mixin margin_1020 {
    margin-bottom: 10px;

    @media (min-width: 992px) {
        margin-bottom: 20px;
    }
}

@mixin font_12_16 {
    font-size  : 12px;
    line-height: 16px;

    @media (min-width: 992px) {
        font-size  : 16px;
        line-height: 22px;
    }
}

@mixin text_align {
    text-align: center;

    @media (min-width: 992px) {
        text-align: left;
    }
}

@mixin button_blue {
    @include font_12_16;
    margin-right : 20px;
    padding      : 10px 10px 13px;
    border-radius: 5px;
    border       : none;
    background   : $blue_color;
    box-shadow   : inset 0px -3px 0px rgba(0, 0, 0, 0.25);
    color        : white;
    cursor       : pointer;
    transition   : all .5s;

    &:hover {
        transform : translateY(-10px);
        box-shadow: 0px 4px 10px $blue_color, inset 0px -4px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
        box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
    }

    @media (min-width: 992px) {
        margin-right: 40px;
        padding     : 15px 20px 18px;
        font-size   : 14px;
        line-height : 19px;
    }
}

@mixin button_grey {
    @include button_blue;
    margin-right: unset;
    color       : $blue_color;
    background  : white;
    box-shadow  : inset 0px -4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
        box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.25), inset 0px -4px 0px rgba(0, 0, 0, 0.25);
    }
}

@mixin paddingY_40 {
    padding-top   : 40px;
    padding-bottom: 40px;
}


@mixin h6_heading {
    @include font_12_16;
    margin-bottom: 10px;
    text-align: center;
    color      : $grey_color;
}

@mixin h2_heading {
    line-height: 33px;
    text-align: center;
    &::after {
        content: '';
        display: block;
        width: 187px;
        height: 2px;
        margin: 10px auto 20px;
        background-color: $blue_color;
    }
    @media (min-width: 992px) {
        font-size  : 36px;
        line-height: 49px;
        &::after {
            width: 132px;
            margin-bottom: 30px;
        }
    }
}

@mixin h4_heading {
    font-size  : 18px;
    line-height: 24px;

    @media (min-width: 992px) {
        font-size  : 24px;
        line-height: 32px;
    }
}

